.page-header {
  min-width: 360px;
}

.page-header__wrapper {
  width: 328px;
  margin: 0 auto;
  padding: 0 16px;
  outline: 1px solid red;
}

.page-header__load-nav {
  display: flex;
  justify-content: space-between;
}

.page-header__logo {
  width: 200px;
}

@media (min-width: @desktop-width) {
  .page-header__wrapper {
    width: 1302px;
    padding: 0 32px;
    display: flex;
    flex-wrap: nowrap;
  }
  .page-header__toggle {
    display: none;
  }
}
