.page-main {
  position: relative;
  z-index: 444;
  width: 328px;
  margin: 0 auto;
  padding: 0 16px;
  margin-bottom: 50px;
}

.page-main__quest {
  width: 328px;
  margin: 0 auto;
  padding: 0 16px;
}

.page-main__list-quest {
  display: flex;
}

.page-main__block-info {
  color: #f2890f;
  line-height: 20px;
  font-size: 14px;
  margin: 0px;
  padding-top: 3px;
}

.page-main__block-title {
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  padding-top: 10px;
}

.page-main__shadow-footer {
  position: fixed;
  width: 100%;
  min-height: 100%;
  left: 0px;
  bottom: 0px;
  background:
    linear-gradient(177.83deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150E 89.63%, #1A140D 106.79%);
}

@media (min-width: @desktop-width) {
  .page-main {
    width: 1302px;
    padding: 0 32px;
    margin-bottom: 346px;
  }

  .page-main__shadow-footer {
    background: none;
  }

  .page-main__quest {
    width: 1366px;
    padding: 0;
  }

  .page-main__block {
    position: relative;
    margin-left: 136px;
  }

  .page-main__block-info {
    position: absolute;
    top: 50px;
    left: 0;
    color: #f2890f;
    line-height: 20px;
    font-size: 14px;
    margin: 0;
    padding: 0;
  }

  .page-main__block-title {
    font-size: 64px;
    line-height: 70px;
    margin: 0;
    padding: 0;
  }

  .page-main__block-shadow {
    width: 1080px;
    height: 78px;
    background: linear-gradient(180deg, rgba(19, 18, 18, 0) 0%, #131212 100%);
    transform: rotate(180deg);
  }

  .page-main__experiment,
  .page-main__ritual,
  .page-main__oldhome,
  .page-main__maniak {
    width: 680px;
    margin-left: 565px;
  }
}
