.page-footer__wrapper {
  width: 328px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  outline: 1px solid red;
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    width: 1302px;
    padding: 0 32px;
  }
}
