.social__list {
  display: flex;
  justify-content: space-between;
  width: 65px;
  padding-left: 30px;
}

.social__question {
  border-bottom: 1px dashed #fff;
  font-size: 12px;
  line-height: 17px;
  height: 18px;
  padding-top: 5px;
  margin-right: 32px;
}
