.stats-header__intro {
  display: none;
}

@media (min-width: @desktop-width) {
  .stats-header__intro {
    display: block;
  }

  .stats-header__title {
    width: 540px;
    margin: 0;
    padding-top: 106px;
    padding-left: 104px;
    font-family: "Raleway", sans-serif;
    font-size: 64px;
    line-height: 70px;
    font-weight: 800;
  }

  .stats-header__intro {
    font-size: 17px;
    line-height: 25px;
    font-weight: 500;
    width: 468px;
    padding-left: 104px;
    padding-top: 16px;
    margin-bottom: 89px;
  }
}
