.user-list {
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  margin-top: 31px;
}

.user-list li {
  position: relative;
  margin-bottom: 18px;
}

.user-list__link {
  color: #f2890f;
  margin-left: 24px;
  font-size: 15px;
}

.user-list__closed {
  display: none;
}

.user-list__link::before {
  content: "";
  position: absolute;
  left: 103px;
  width: 30px;
  height: 30px;
  background: url("../img/navigation-map.svg") no-repeat 0 0;
}

.user-list__link--amur {
  padding-left: 14px;
}

.user-list__link--amur::before {
  content: "";
  position: absolute;
  left: 53px;
  width: 30px;
  height: 30px;
  background: url("../img/navigation-map.svg") no-repeat 0 0;
}

.user-list__link--nav-amur::before {
  left: 64px;
}

.user-list__phone {
  font-size: 16px;
  padding-bottom: 18px;
}

.user-list__opened--ircutsk,
.user-list__opened--smolensk,
.user-list__opened--novosibirsk,
.user-list__opened--volgograd,
.user-list__opened--amur {
  display: block;
}

@media (min-width: @desktop-width) {
  .user-list {
    display: flex;
    justify-content: space-between;
    width: 260px;
    border: none;
    margin-top: 0;
    order: 2;
  }

  .user-list__link::before {
    left: -13px;
    top: -3px;
  }

  .user-list__link {
    font-size: 12px;
    line-height: 14px;
    color: #f2890f;
    margin-left: 13px;
  }

  .user-list__link:hover,
  .user-list__link:active {
    border-bottom: 1px dashed #f2890f;
  }

  .user-list__phone {
    padding-right: 6px;
    font-size: 16px;
    line-height: 16px;
  }
}
